:host {
  width: 100vw;
  height: 100vh;
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  & .login {
    &__card {
      padding: 0;
      &--toolbar {
          border-radius: 4px 4px  0 0;
          justify-content: space-between;
          & small {
              font-size: 60%;
              font-weight: lighter;
          }
      }
      &--content {
          padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-gap: 10px;
      }

      &--actions {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
