@import "src/assets/scss/base";

::ng-deep .mat-form-field {
  width: 100% !important;
}
:host {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: overlay;
  background: $blue_gradient;
  & .login {
    &__card {
      z-index: 2;
      margin: 2rem 0;
      padding: 0;
      &--toolbar {
        border-radius: 3px 3px 0 0;
        justify-content: space-between;
        & small {
          font-size: 60%;
          font-weight: lighter;
        }
      }
      &--content {
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        grid-gap: 10px;
        &.register {
          grid-template-columns: 1fr 1fr;
          grid-template-areas:
            "first last"
            "email email"
            "passwd strength"
            "confirm strength"
            "button .";
          & .input {
            &:nth-child(1) {
              grid-area: first;
            }
            &:nth-child(2) {
              grid-area: last;
            }
            &:nth-child(3) {
              grid-area: email;
            }
            &:nth-child(4) {
              grid-area: passwd;
            }
            &:nth-child(5) {
              grid-area: confirm;
            }
          }
          & .strength {
            grid-area: strength;
          }
          & .button {
            grid-area: button;
          }
          @include for-size(custom, 560px) {
            grid-template-columns: 1fr;
            grid-template-areas:
              "first"
              "last"
              "email"
              "passwd"
              "confirm"
              "strength"
              "button";
          }
        }
      }

      &--actions {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
