// Breakpoints
$phone-only: 599px;
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$big-desktop: 1800px;

// Colors


// Gradients
$blue_gradient: linear-gradient(45deg, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);

// Images
$login_background: '/assets/imgs/login_background.jpg';