<small>
  Your password must:
</small>
<ul>
  <li [ngClass]="{ pass: characters }">
    <small>
      Have at least 8 characters length
    </small>
  </li>
  <li [ngClass]="{ pass: uppercase }">
    <small>
      Have at least 1 uppercase character
    </small>
  </li>
  <li [ngClass]="{ pass: number }">
    <small>
      Have at least 1 number
    </small>
  </li>
  <li [ngClass]="{ pass: special }">
    <small>
      Have at least 1 special character
    </small>
  </li>
  <li [ngClass]="{ pass: passwd === confirm }">
    <small>
      Match password and confirm
    </small>
  </li>
</ul>
