:host {
    text-align: right;
    color: rgba(51, 51, 51, 0.609);
    & ul {
        & li {
            list-style: none;
            &.pass {
                color: rgba(79, 185, 135, 0.726);
            }
        }
    }
}